services:
  db:
    image: postgres:18-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - ./db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend-api
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    networks:
      - default
    depends_on:
      - db
    volumes:
      - ./backend-api:/app

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - name=value
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro